Previously we created 2 models to predict 8 vs. not 8 and 9 vs. not 9 ratings. 

We could build similar models for all the 16 risk ratings. 

We will now bring this together to show how we can use these models to predict the risk rating.

The purpose of this notebook is to use previously created models to predict risk rating

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pickle

In [3]:
from sklearn.model_selection import train_test_split, GroupShuffleSplit
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [4]:
df = pd.read_csv('df_client.csv')

In [5]:
df.head()

,Country_Code,BR Code,Period,Client,risk_rating,Self_exclude_flag,Variable_1_Y0,Variable_1_Y1,Variable_1_Y2,Variable_1_Y3,...,Variable_28_Y1,Variable_28_Y2,Variable_28_Y3,Variable_29_Y0,Variable_29_Y1,Variable_29_Y2,Variable_30_Y0,Variable_30_Y1,Variable_30_Y2,Variable_30_Y3
0,0,0,2017Q2,0,7,1,581103.4591,612122.5165,589483.6484,608043.5063,...,572312.4225,601762.9316,574251.4130,577170.3096,594024.8975,616177.8226,588163.8327,623659.1015,608794.9055,574860.551
1,0,0,2016Q1,0,7,1,608189.3682,581513.6158,609292.1500,NaN,...,608263.6088,605605.1646,NaN,581951.0166,608354.2362,623470.1198,591055.8212,592011.4052,572734.0028,NaN
2,0,0,2015Q4,0,7,1,626775.4450,620338.8464,NaN,NaN,...,621396.2940,NaN,NaN,590490.3620,620329.2616,NaN,626221.0887,572241.0321,NaN,NaN
3,0,0,2015Q2,0,7,1,613152.4469,595630.8819,NaN,NaN,...,589714.2432,NaN,NaN,580633.8747,576235.2813,NaN,619098.6619,578761.7137,NaN,NaN
4,0,1,2019Q1,1,9,0,615840.2415,603501.2067,587601.9393,610071.5454,...,607400.3547,570273.9177,573434.8221,572413.5987,618435.4264,587802.7283,NaN,NaN,NaN,NaN

In [6]:
f1 = df['risk_rating'] == 8

df.loc[:,'rr_8'] = 0
df.loc[f1,'rr_8'] = 1

In [7]:
f2 = df['risk_rating'] == 9

df.loc[:,'rr_9'] = 0
df.loc[f2,'rr_9'] = 1

In [16]:
cols = ['Variable_16_Y0','Variable_3_Y0', 'rr_8', 'rr_9']
cols8 = ['Variable_16_Y0','Variable_3_Y0', 'rr_8']
cols9 = ['Variable_16_Y0','Variable_3_Y0', 'rr_9']

In [17]:
f3 = df['risk_rating'].isin([8,9])

df_test = df.loc[f3,cols].dropna().reset_index(drop=True).sample(1)

Testing will be done on a sample

In [18]:
df8 = df_test.loc[:,cols8]
df9 = df_test.loc[:,cols9]

In [19]:
df8.head()

      Variable_16_Y0  Variable_3_Y0  rr_8
2679     969494815.8    624569.9086     1

In [20]:
df9.head()

      Variable_16_Y0  Variable_3_Y0  rr_9
2679     969494815.8    624569.9086     0

In [21]:
# split into inputs and outputs
X8, y8 = df8.loc[:,cols8[:-1]], df8.loc[:,cols8[-1]]
print(X8.shape, y8.shape)

(1, 2) (1,)

In [22]:
X9, y9 = df9.loc[:,cols9[:-1]], df9.loc[:,cols9[-1]]
print(X9.shape, y9.shape)

(1, 2) (1,)

In [23]:
rr_8_model = pickle.load(open('rr_8_model.sav', 'rb'))
rr_9_model = pickle.load(open('rr_9_model.sav', 'rb'))

Previously created models will be loaded for predictions

In [24]:
# make predictions
yhat8 = rr_8_model.predict(X8)
yhat9 = rr_9_model.predict(X9)

In [28]:
print('Model 8 Prediction = ', yhat8)
print('Model 9 Prediction = ', yhat9)

Model 8 Prediction =  [1]
Model 9 Prediction =  [0]

This model was able to predict that the sample test set was an 8 and not a 9

We could create 16 models and each could provide a value of 0 or 1. 

We know that these models are better at predicting 0s than 1s.